<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CeciliaPT</title>
</head>
<body>
    <div class="topnav" id="home">
        <a href="#home"><i class="fa fa-fw fa-home"></i></a>
        <a href="#about"><i class="fa fa-address-card" aria-hidden="true"></i> {% trans "Sobre" %}</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> {% trans "Contacto" %}</a>
        <a href="#gallery"><i class="fa fa-play-circle-o" aria-hidden="true"></i> {% trans "Galeria" %}</a>
        <a href="#training"><i class="fa fa-play-circle-o" aria-hidden="true"></i> {% trans "Treinos" %}</a>
        <a class="login" href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
            {% if request.user.is_authenticated %}
                {% trans "Olá" %} {{ request.user }}
            {% else %}
                {% trans "Log-in" %}
            {% endif %}
        </a>
    </div>
    <img class="backimg" src="static/images/header.png">
    <section id="about">

    </section>
    <section id="contact">

    </section>
    <section id="gallery">

    </section>
    <section id="training">

    </section>

    <div class="footer">
        <p>COPYRIGHT 2020 - MARIA CECÍLIA SANTOS - PERSONAL TRAINER</p>
    </div>

</body>
</html>