html {
    scroll-behavior: smooth;
    color: white;
}

#navbar {
    background-color: transparent;
    background-image: none;
}

#navbarend {
    background-color: hsl(0, 0%, 96%);
    padding: 0px 10px;
    background-image: none;
    border-radius: 60px;
}

#logo {
    width: 120px;
    height: 60px;
}

#home {
    background: url("/static/images/bg2.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

#titlename {
    letter-spacing: 2px;
    font-size: 50px;
}

#subtitlejob {
    letter-spacing: 6px;
}

#subtitlelink {
    letter-spacing: 6px;
    color: hsl(0, 0%, 21%);
    background-color: hsl(0, 0%, 96%);
    font-size: 30px;
    border: solid;
    border-color: hsl(0, 0%, 96%);
    border-radius: 50px;
    margin: 0px 150px 0px 150px;
    text-transform: uppercase;
}

#trainbutton {
    padding: 0px 50px;
}

#indeximg{
    width: 300px;
    height: 300px;
}

section {
    background-color: hsl(0, 0%, 96%);
}